{% extends './layout.html' %}
{% block title %}{{post['title']}}{% endblock %}
{% block body %}
<div class="wrapper">
  {% if user in session %}
    <div class='header'>
      <h5>Welcome {{user['username']}}!</h5>
      <div class="header_right">
        <a href="{{ url_for('dashboard')}}">Back</a>
        <a href="{{url_for('users:logout')}}">Logout</a>
      </div><br>
    </div>
  {% endif %}
  {% else %}
    <div class='header'>
      <div class="header_right">
        <a href="{{url_for('users:login')}}">Login</a>
      </div><br>      
    </div>
  {% endelse %}
  {% if user['admin_lvl'] == 2 %}
    <p></p>