{% extends './layout.html' %}
{% block head %}{{backgrounds|safe}}{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class='wrapper'>
    {% if 'user_id' in session %}
        <div class='header'>
            <h2>Welcome {{user['username']}}!</h2>
            <div class="header_right">
                <p>
                    {% if user['admin_lvl'] == 2 %}
                    <a href="{{url_for('admin_page')}}">Admin Page</a>  |
                    {% endif %}
                    <a href="{{ url_for('users:account_page', user_id=user['id'])}}">My Account</a>  |
                    <a href="{{url_for('users:logout')}}">Logout</a>
                </p>
            </div><br>
        </div>
        {% else %}
            <div class='header'>
                <h2>Welcome To QuindittyArt!</h2>
                <div class="header_right">
                    <a href="{{url_for('users:login_and_registration')}}">Login or make a new account</a>
                </div><br>      
            </div>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li class="error">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="gallery">
        <h2>Gallery</h2>
        <h5><a href="{{url_for('about_me')}}">About Me</a></h5>
        <div class="gallery_post_list">
            {% for post in posts %}
                <div class="gallery_post">
                        <a href="{{url_for('posts:view_post', post_id=post.id)}}">
                    <img src="{{ url_for('static', filename=post.filename) }}" alt="{{post.title}}"><br>
                    {{post['title']}}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}