{% extends './layout.html' %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class='wrapper'>
    {% if user in session %}
        <div class='header'>
            <h5>Welcome {{user['first_name']}} {{user['last_name']}}!</h5>
            <div class="header_right">
                <a href="{{ url_for('users:edit', user_id=user['id'])}}">My Account</a>
                <a href="{{url_for('users:logout')}}">Logout</a>
            </div><br>
        </div>
        {% else %}
            <div class='header'>
                <h5>Welcome {{user['first_name']}} {{user['last_name']}}!</h5>
                <div class="header_right">
                    <a href="{{url_for('users:login')}}">Login</a>
                </div><br>      
            </div>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li class="error">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="Gallery">
        <h5>Gallery</h5>
        {% for post in posts %}
            <div class="post">
                <a href="posts/post['id']">{{post['content']}}</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}