{% extends './layout.html' %}
{% block head %}{{backgrounds|safe}}{% endblock %}
{% block title %}{{post['title']}}{% endblock %}
{% block body %}
<div class="wrapper">
    {% if 'user_id' in session %}
        <div class='header'>
            <h2>Welcome {{user['username']}}!</h2>
            <div class="header_right">
                <p>
                    {% if user['admin_lvl'] == 2 %}
                    <a href="{{url_for('admin_page')}}">Admin Page</a>  |
                    {% endif %}
                    <a href="{{url_for('dashboard')}}">Back</a>  |
                    <a href="{{ url_for('users:account_page', user_id=user['id'])}}">My Account</a>  |
                    <a href="{{url_for('users:logout')}}">Logout</a>
                </p>
            </div><br>
        </div>
        {% else %}
            <div class='header'>
                <h2>Welcome To QuindittyArt!</h2>
                <div class="header_right">
                    <a href="{{url_for('dashboard')}}">Back</a>  |
                    <a href="{{url_for('users:login_and_registration')}}">Login or make a new account</a>
                </div><br>      
            </div>
    {% endif %}
    <div class="main">
        <div class="post">
            <h2>{{post['title']}}</h2>
            <img src="{{url_for('static', filename=post.filename)}}" alt="">
            <h5>{{post['text_content']}}</h5>
            <p>{{post.likes()}} likes
            {% if 'user_id' in session %}
                {% if user['admin_lvl'] == 1 %}
                {% if post in user.posts_this_user_likes %}
                    <a href="{{url_for('posts:remove_like', post_id=post.id)}}" class="button">Unlike</a></td>
                    {% else %}
                    <a href="{{url_for('posts:like', post_id=post.id)}}" class="button">Like</a></td>
                    {% endif %}
                {% endif %}
            {% endif %}
            </p>
            {% if 'user_id' in session %}
                {% if user['admin_lvl'] == 2 %}
                    <p><a href="{{url_for('posts:delete', post_id=post.id)}}">Delete</a></p>
                {% endif %}
            {% endif %}
            <div class='comments'>
                {% if 'user_id' in session %}
                    <form action="{{url_for('posts:comment', post_id=post.id)}}" method="post">
                        <textarea name="content"cols="45" rows="2"></textarea>
                        <input type="submit" value="comment">
                    </form>
                {% endif %}
                {% for comment in comments %}
                <div class='comment'>
                    <p>{{comment.user.username}} says:</p>
                    <p>{{comment.content}}<br>
                        {% if 'user_id' in session %}
                            {% if user['admin_lvl'] == 2 or user['id'] == comment['user_id'] %}
                                <a href="{{url_for('posts:delete_comment', comment_id=comment.id, post_id=post.id)}}">Delete</a>
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>  
</div>

{% endblock %}