{% extends './layout.html' %}
{% block head %}<style>.wrapper{  background-image: url('../static/{{background.filename}}')}</style>{% endblock %}
{% block title %}{{post['title']}}{% endblock %}
{% block body %}
<div class="wrapper">
    {% if user in session %}
        <div class='header'>
            <h2>Welcome {{user['username']}}!</h2>
            <div class="header_right">
                <a href="{{ url_for('users:edit', user_id=user['id'])}}">My Account</a>
                <a href="{{url_for('users:logout')}}">Logout</a>
            </div><br>
        </div>
    {% else %}
        <div class='header'>
            <div class="header_right">
                <a href="{{url_for('dashboard')}}">Back</a>  |
                <a href="{{url_for('users:login')}}">Login</a>
            </div><br>      
        </div>
    {% endif %}
    <div class="main">
        <div class="post">
            <h2>{{post['title']}}</h2>
            <img src="{{url_for('static', filename=post.filename)}}" alt="">
            <h5>{{post['text_content']}}</h5>
            <p>{{post.likes()}} likes
            {% if post.not_liked and user['admin_lvl'] == 1 %}
                <a href="{{url_for('posts:like', post_id=post.id)}}" class="button">Like</a></td>
            {% endif %}
            </p>
            {% if user['admin_lvl'] == 2 %}
                <p><a href="{{url_for('posts:delete', post_id=post.id)}}">Delete</a></p>
            {% endif %}
            <div class='comments'>
                <form action="{{url_for('posts:comment', post_id=post.id)}}" method="post">
                    <textarea name="content"cols="45" rows="2"></textarea>
                    <input type="submit" value="comment">
                </form>
                {% for comment in comments %}
                <div class='comment'>
                    <p>{{comment.user.username}} says:</p>
                    <p>{{comment.content}}<br>
                        {% if user['admin_lvl'] == 2 or user['id'] == comment['user_id'] %}
                        <a href="{{url_for('posts:delete', comment_id=comment.id, post_id=post.id)}}">Delete</a>
                        {% endif %}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>  
</div>

{% endblock %}