{% extends './layout.html' %}
{% block title %}Qoute list{% endblock %}
{% block body %}
<div class='wrapper'>
    <div class='header'>
        <h5>Welcome {{user['first_name']}} {{user['last_name']}}!</h5>
        <div class="header_right">
            <a href="{{ url_for('users:edit', user_id=user['id'])}}">Edit My Account</a>
            <a href="{{url_for('users:logout')}}" class="button">Logout</a>
        </div><br>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li class="error">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="quote_list">
        <h5>Quotes</h5>
        {% for quote in quotes %}
            <div class="quote">
                <p>{{quote['author']}}: "{{quote['content']}}"</p><br>
                <p>Posted by <a href="{{ url_for('users:users_quotes', user_id=quote['user_id']) }}">{{quote.user['first_name']}} {{quote.user['last_name']}}</a></p>
                <p>{{quote.likes()}} people like this</p>
                {% if session['user_id'] != quote['user_id'] %}
                <a href="quotes/{{quote['id']}}/like" class="button">Like</a></td>
                {% endif %}
                {% if session['user_id'] == quote['user_id'] %}
                <p><a href="quotes/{{quote['id']}}/delete">Delete</a></p>
                {% endif %}
            </div>
        {% endfor %}
    </div>  
    <div class='quote_form'>
        <h6>Add a Quote!</h6>
        <form action="{{ url_for('quotes:create') }}" method="post">
            <label for="author">Author</label>
            <input type="text" name="author" required><br>
            <label for="content">Quote</label>
            <textarea name="content" cols="25" rows="3"></textarea><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}